$color-title-main: #ffee54;
$bg-color: #020220;

$info-table-991: 'only screen and (max-width : 991.5px)';
$info-table-1068: 'only screen and (max-width : 1067.5px)';
$info-min-1200: 'only screen and (min-width : 1199.5px)';
$info-tablet-horizontal: 'only screen and (max-width : 1160px)';
$info-tablet-991: 'only screen and (max-width : 991.5px)';
$info-tablet-1399: 'only screen and (max-width : 1399.5px)';
$info-phone: 'only screen and (max-width : 767.5px)';
$info-pc: 'only screen and (min-width : 767.5px)';
$info-phone-576: 'only screen and (max-width : 576.5px)';
$info-nexus4: 'only screen and (max-width : 412px)';
$info-phone-330: 'only screen and (max-width : 330px)';
