@import 'src/styles/variables';
.mini-games {
  width: 100%;
  height: fit-content;
  overflow: hidden;

  .title-main {
    margin: 65px 0 40px 0;
    @media #{$info-tablet-1399} {
      margin: 62px 0 40px 0;
    }
    @media #{$info-tablet-horizontal} {
      margin: 2.7vw 0 1.4vw 0;
    }
    @media #{$info-phone} {
      margin: 20px 0 0 0;
    }
  }

  .mini-games-box {
    margin-top: 100px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    @media #{$info-tablet-1399} {
      margin-top: 5vw;
    }

    @media #{$info-phone-576} {
      margin-top: 0;
      min-width: 100%;
      flex-direction: column;
    }
    
    .mini-games-item {
      display: flex;
      flex-direction: column;
      min-width: 33.3%;
      margin-top: 80px;

      @media #{$info-tablet-1399} {
        margin-top: 4vw;
      }
      @media #{$info-phone-576} {
        margin-top: 15vw;
      }

      .overlay {
        position: absolute;
        margin-top: 96px;
        left: 50%;
        width: 952px;
        height: 577px;
        opacity: 0;
        transition: 0.5s ease;
        background-repeat: no-repeat;
        z-index: -1;
        background-size: contain;
        background-position: center;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        color: #fff;

        @media #{$info-tablet-1399} {
          width: 60%;
          height: 20%;
        }

        @media #{$info-phone} {
          margin-top: 65px;
        }
      }

      img {
        height: 300px;
        width: fit-content;
        margin: auto;
        @media #{$info-tablet-1399} {
          height: 20vw;
        }
        @media #{$info-phone-576} {
          width: 50vw;
          height: fit-content;
        }
      }
      .title {
        margin-top: 150px;
        width: 100%;
        text-align: center;
        color: #ffffff;
        font-size: 1.4rem;
        @media #{$info-tablet-1399} {
          margin-top: 8vw;
        }
        @media #{$info-phone} {
          font-size: 1.8vw;
        }
        @media #{$info-phone-576} {
          font-size: 1.2rem;
          margin-top: 5vw;
        }
        @media #{$info-phone-330} {
          font-size: 1rem;
        }
      }
    }
    .mini-games-item.center {
      margin-top: 0;
      @media #{$info-phone-576} {
        margin-top: 15vw;
      }

      .overlay {
        position: absolute;
        margin-top: 176px;
        left: 50%;
        width: 952px;
        height: 577px;
        opacity: 0;
        transition: 0.5s ease;
        background-repeat: no-repeat;
        z-index: -1;
        background-size: contain;
        background-position: center;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        color: #fff;

        @media #{$info-tablet-1399} {
          width: 60%;
        }

        @media #{$info-phone} {
          margin-top: 97px;
        }
      }

      img {
        height: 360px;
        @media #{$info-tablet-1399} {
          height: 22vw;
        }
        @media #{$info-phone-576} {
          width: 50vw;
          height: fit-content;
        }
      }
      .title {
        margin-top: 172px;
        @media #{$info-tablet-1399} {
          margin-top: 10vw;
        }
        @media #{$info-phone-576} {
          margin-top: 5vw;
        }
      }
    }
  }
}

.mini-games .mini-games-box .mini-games-item:hover .overlay {
  // display: none;
  opacity: 1;
  z-index: 1;
}

.mini-games .mini-games-box .mini-games-item.center:hover .overlay {
  // display: none;
  opacity: 1;
  z-index: 1;
}
